<!doctype html>
<html>
<head> 
    <title>BB - Comprar e vender - {{titulo}}</title>
</head>

<body>
    <h1>Categorias:</h1>
    <ul action="/config/categoria">
        <li><a href="#camisetas">Camisetas</a></li>
        <li><a href="#calcas">Calças</a></li>
        <li><a href="#tenis">Tênis</a></li>
        <li><a href="#perifericos">Periféricos</a></li>
        <li><a href="#mesas">Mesas</a></li>
        <li><a href="#domesticos">Domésticos</a></li>
    </ul>


    <h2 id="camisetas">Camisetas</h2>

    
    <h2 id="calcas">Calças</h2>
    

   
    <h2 id="tenis">Tênis</h2>
    

    
    <h2 id="perifericos">Periféricos</h2>
   

    
    <h2 id="mesas">Mesas</h2>
    

  
    <h2 id="domesticos">Domésticos</h2>
    

</body>
</html>