<!doctype html>
<html>
<head> 
    <title>BB - Comprar e vender</title>
</head>

<body>
    <h4> Bem vindo ao BB</h4>
    <p><a href={{url_for("usuario")}}>Cadastro Usuário</a></p>
    <p><a href={{url_for("anuncio")}}>Cadastro Anúncio</a></p>
    <p><a href={{url_for("categoria")}}>Categorias</a></p>
    <p><a href={{url_for("pergunta")}}>Pode fazer Perguntas dos anúncios</a></p>
    <p><a href={{url_for("relVendas")}}>Relatórios de Vendas</a></p>
    <p><a href={{url_for("relCompras")}}> Categorias de Compras</a></p>
    
</body>

</html>