<!doctype html>
<html>
<head> 
    <title>BB - Comprar e vender - {{titulo}}</title>
</head>

<body>
    <h4>{{titulo}}</h4>
    <form action="caduser" method="post">
        <p><label for="user">Username</label></p>
        <p><input type="text" id="user" name="user" required><br><br></p>

        <p><label for="email">E-mail</label></p>
        <p><input type="text" id="email" name="email" required><br><br></p>       

        <p><label for="passwd">Password</label></p>
        <p><input type="text" id="passwd" name="passwd" required><br><br></p>

        <p><input type="submit" value="Cadastrar"></p>
    </form>
</body>

</html>